
#main-index {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg, rgb(110, 4, 4), rgba(218, 8, 8, 0.795), rgb(240, 130, 130), rgba(255, 255, 255));
}
.first-slide, .second-slide, .third-slide {
    max-height: 600px;
}
#body-alta {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(90deg, rgb(0, 0, 0), rgba(17, 6, 6, 0.87), rgba(59, 8, 8, 0.829), rgba(148, 41, 41, 0.925), rgba(204, 63, 63, 0.836));
}    
#main-alta {
    background-image: url(./assets/img/pc2.png); background-size: contain; background-repeat: no-repeat; background-position-y: 5rem; background-position-x: left;
}

#body-listado {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg, rgb(255, 255, 255), rgba(226, 214, 182, 0.822), rgb(255, 229, 158), rgba(233, 198, 123, 0.925), rgb(160, 134, 85));
}

#body-edit {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg, rgb(0, 104, 9), rgba(43, 168, 70, 0.87), rgba(100, 184, 118, 0.842), rgb(200, 238, 203), rgb(255,255,255));
}
#main-edit {
    background-image: url(./assets/img/gabinete.png); background-size: cover; background-repeat: no-repeat; background-position-x: left;
}
#h1-edit {
    font-size: 2.5vw;
}
